<!DOCTYPE html>
<html>
    <head>
        <title>RESTfull Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="heartbeat icon"></i>Love site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
    